body {
	margin-top: 80px;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
	color: #777;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 300;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

ul li {
	margin-bottom: 5px;
}


/* *************************************
* *************** Header ***************
* ************************************ */
#main-header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	z-index: 99;

    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.95);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#11000000, endColorstr=#11000000)";


	-moz-box-shadow: 0 1px 5px #999;
	-webkit-box-shadow: 0 1px 5px #999;
	box-shadow: 0 1px 5px #999;
}

#main-logo {
	width: 100%;
	height: 80px;
	padding: 2px 0 0 20px;
	margin: 0;
	background-color: #A3D900;
}

#main-logo > a {
	font-size: 20px;
	font-size: 2rem;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
}

#main-logo > a > span {
	display: block;
	color: #DFFFBF;
	font-size: 13px;
	font-size: 1.3rem;
}

/* *************************************
* *********** Main Navigation **********
* ************************************ */
#main-menu {
	float:right;
	margin-top: 30px;
}

#main-menu a {
	color: #aaa;
}

#main-menu a:hover {
	color: #a3d900;
}

#main-menu.nav-pills>li.active>a, 
#main-menu.nav-pills>li.active>a:hover, 
#main-menu.nav-pills>li.active>a:focus,
#main-menu.nav-pills>li>a:hover {
	background: none;
}

#main-menu.nav-pills>li.active>a, 
#main-menu.nav-pills>li.active>a:hover, 
#main-menu.nav-pills>li.active>a:focus {
	color: #a3d900;	
}

#main-menu.nav .open>a, 
#main-menu.nav .open>a:hover, 
#main-menu.nav .open>a:focus {
	background: none;
}


#mobile-menu-button {
	float: right;
	width: 44px;
	margin: 20px 0;
}

#mobile-main-menu {
	display: none;
}

#mobile-main-menu a {
	display: block;
	width: 100%;
	padding: 10px 0;
	border-top: 1px solid #eee;
	color: #aaa;
	text-align: center;
	text-transform: uppercase;
}

#mobile-main-menu li {
	margin: 0;
}

#mobile-main-menu a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #a3d900;
}

/* *************************************
* *************** Footer ***************
* ************************************ */
footer {
	padding: 30px 0;
	background-color: #333;
}

footer a, footer a:hover {
	color: #fff;
	font-weight: 400;
}

footer h3 {
	margin-top: 30px;
	color: #fff;
	font-size: 16px;
	font-size: 1.6rem;
	text-transform: uppercase;
}

footer p {
	color: #ddd;
	font-weight: 200;
}

#next-workshops a {
	color: #00BFFF;
	text-decoration: none;
}

#next-workshops a:hover {
	color: #fff;
	text-decoration: none;
}

#subscribe-form input {
	padding: 0 24px;
	border: 0;

	color: #ccc;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: normal;
	background-color: #222;
}

#subscribe-form button {
	width: 100%;
	color: #444;
	background-color: #eee;
	line-height: 24px;
	line-height: 2.4rem;
}

/* *************************************
* *************** Generales ************
* ************************************ */
.btn-custom {
	border: 0;
	border-radius: 2px;

	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 600;
}